<!DOCTYPE HTML PUBLIC>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

</head>

<h1 class="text-light">@ViewBag.TopAttractions</h1>

<body text="#F3F3F3" link="#2CA824" vlink="#000000" alink="#0E28E1" leftmargin="10" topmargin="30" marginwidth="10" marginheight="30" width="600" height="400">
    
    <div class="jumbotron">
        <table class="table table-hover border-0 bg-light">
            <thead>
                <tr>
                    <th scope="col">Attraction Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Rating Count</th>
                    <th scope="col">Google Location ID</th>
                </tr>
            </thead>
            <tbody>
                @foreach (APIproject.Models.Root p in Model)
                {
                    @foreach (ResultsItem r in p.results)
                    {
                        <tr>
                            <td align="left">
                                @r.name
                            </td>
                            <td align="left">
                                @r.formatted_address
                            </td>
                            <td align="left">
                                @r.user_ratings_total
                            </td>
                            <td align="left">
                                @r.place_id
                            </td>
                            <td align="left">
                                @r.geometry.viewport.northeast
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</body>
</html>